@media screen and (max-width:438px){
    body{ font-size: 1.5rem; }
    h1, .button, ul.resume{ font-size: 1.5rem;}
}
@media screen and (min-width:768px){
    header{
        display: flex;
        justify-content: space-evenly;
    }
    main{
    }
    .contProfil{
        margin: 200px 0 10px 0;
    }
    ul.resume {
        display: block;
        padding: 30px;
    }
    h1{ font-size: 5rem; }
    .button, ul.resume{ font-size: 2rem; }
    .fa { display: none; }
    .coordonnees .fa{ display: inline-block; }
    .resumeCoord li i{
        width: 25px;
        margin-right: 7px;
    }
}