* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-size: 12px;
    --shadows:  0 4px 10px;
    --shadows2:  0 1px 0;
    --back-color: rgb(49, 49, 49);
    --white-color: rgb(255, 255, 255);
    --black-color: rgb(0,0,0);
    --links-color: rgb(94, 74, 133);
    --light-violet-color: rgb(180, 170, 190);
    --transparent-violet-color: rgb(180, 170, 190,.5);
}
/* NORMALIZER */

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}
